@import "~@/styles/var";

.Tab {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &-hidden {
    transform: translateX(-100%);
  }

  .TabList-len_3 & {
    margin-top: @TabControlHeight;
    height: calc(100% ~" - " @TabControlHeight);
  }
}
