@import "~@/styles/mixin";
@import "~@/styles/var";

.LocaleToggler_header {
  font-weight: 700;
}

.LocaleToggler_list {
  list-style-type: none;
  padding-left: 0;
}

.LocaleToggler_item {
  & + & {
    margin-top: .5rem;
  }
}

.LocaleToggler_input {
  .RadioInput();
}

.LocaleToggler_label {
  display: inline-block;
  padding: .25rem;
  border-color: transparent;
  border-width: @BorderWidthDefault;
  border-style: @BorderStyleDefault;

  &:focus,
  &:hover,
  &:active,
  .LocaleToggler_input:checked + & {
    border-color: @buttonActiveBorderColor;
  }

  .LocaleToggler_input:checked + & {
    background-color: @buttonActiveBgColor;
  }
}
