@import "~@/styles/mixin";

.QuestInfo {
  .GameplayUIChild(right);
  .border-default();

  background-color: @BgColor;
  border-radius: 0 0 0 @BorderRadiusDefault;
  padding: 1rem;
  top: 0;
  font-size: 1rem;
  border-right-width: 0;
  right: 0;
}

.QuestInfo_header {
  text-align: center;
  font-size: 2rem;
}

.QuestInfo_checkbox {
  margin-right: .5rem;
}

.QuestInfo_text {
  &-finished {
    text-decoration: line-through
  }
}

.QuestInfo_meter {
  display: block;
  height: .25em;
  width: 100%;
}
