@import "~@/styles/mixin";

.ModuleList {
  padding: 1rem;
}

.ModuleList_header {
  .TabHeader();
}

.ModuleList_panels {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & > * {
    width: 45%;
  }
}
