@import "~@/styles/mixin";
@import "~@/styles/var";

.TabControl {
  .button();
  .ZIndexGameplayUIToggler();
  display: block;
  background-color: @BgColor;
  width: @TabControlWidth;
  height: @TabControlHeight;
  border: @BorderWidthDefault @BorderStyleDefault @BorderColorDefault;
  font-size: @FontSizeDefault;

  .TabList-visible & {
    margin-bottom: -@BorderWidthDefault;

    &-active {
      border-bottom-width: 0;
    }
  }

  .TabList-hidden & {
    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-radius: 0 0 @BorderRadiusDefault;
    }
  }

  & + & {
    margin-left: -@BorderWidthDefault;
  }
}
