@import "~@/styles/mixin";

.GameMenuToggler {
  .button();

  position: relative;
  right: 0;
  font-size: 2rem;
  border-width: 0 0 1px 1px;
  border-radius: @BorderRadiusDefault 0 0 0;
  transition: border-radius .7s ease;

  &-open {
    border-radius: 0;
  }
}
