@import "~@/styles/mixin";
@import "~@/styles/var";

.Repository {
  background-color: @BgColor;
  height: 100%;
  .TabBorderRadius();
}

.Repository_header {
  .TabHeader();
}

.Repository_select {
  font-size: 1rem;
  height: 100%;
}

.Repository_content {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  padding: @PaddingDefault;
  box-sizing: border-box;
  height: calc(100% ~"-" @Editor_header_body_height + @Editor_header_margin_height);
}

.Repository_controlList,
.Repository_select {
  width: 48%;
}

.Repository_controlList {
  display: flex;
  flex-direction: column;
}

.Repository_option {
  padding: .5rem;
}
