@import "~@/styles/icons";
@import '~@/styles/var';

.ZIndexCanvas {
  z-index: 10;
}

.ZIndexGameplayUI {
  z-index: 20;
}

.ZIndexGameplayUIToggler {
  z-index: 25;
}

.ZIndexGameMenu {
  z-index: 30;
}

.ZIndexWinScreen {
  z-index: 40;
}

.ZIndexMainMenu {
  z-index: 50;
}

.ZIndexPopup {
  z-index: 60;
}

.GUIChild () {
  .ZIndexGameplayUI();
  position: absolute;
}

.GameplayUIChild (@hideProp) {
  .GUIChild();

  transition: @hideProp @GameplayUIChildTransitionTime GameplayUIChildTransformTime linear,
              transform GameplayUIChildTransformTime                                ease;

  transform: rotateY(0);

  .GameplayUI-hidden & {
      @{hideProp}: -100%;

    transform: rotateY(360deg);
  }
}

.border-default {
  border: @BorderWidthDefault @BorderStyleDefault @BorderColorDefault;
}

.style-default {
  .border-default();
  color: #000;
  background-color: @BgColor;
}

.block-default {
  .style-default();
  padding: @PaddingDefault;
  border-radius: @BorderRadiusDefault;
}

.button {
  .style-default();

  &:enabled {
    cursor: pointer;
  }

  &:focus,
  &:active,
  &:hover {
    &:enabled {
      border-color: @buttonActiveBorderColor;
      background-color: @buttonActiveBgColor;
    }
  }

  &:disabled {
    color: @buttonDisabledColor;
    border-color: @buttonDisabledBorderColor;
    background-color: @buttonDisabledBgColor;
  }
}

.repository_control {
  .button();
  text-align: left;
  font-size: 1rem;
  padding: .5rem;
  position: relative;

  &:active:enabled {
    top: 1px;
  }
}

.big_gui_panel (@brds, @side) {
  opacity: .8;
  transition: transform .7s,
              opacity   .2s,
              @side     @GameplayUIChildTransitionTime;

  &:hover {
    opacity: 1;
  }

  &-hidden {
    transform: translateY(-100%);

    &:hover {
      transform: translateY(calc(-100% + 1rem));
    }
  }

  &-visible {
    transform: translateY(0);
    border-radius: @brds;
  }
}

.text-shadow (@color) {
  @shadow_gap  : 1px;
  text-shadow  : @shadow_gap  @shadow_gap 0 @color,
                -@shadow_gap -@shadow_gap 0 @color,
                 @shadow_gap -@shadow_gap 0 @color,
                -@shadow_gap  @shadow_gap 0 @color;
}

.TabHeader () {
  height: @Editor_header_body_height;
  padding-right: @TabListHideBtn_width + @TabList_header_side_padding;
  padding-left: 0;
  margin-bottom: @Editor_header_margin_height;
  text-align: center;
  font-size: 2rem;

  .TabList-len_2 & {
    padding-left: (@TabControlWidth * 2) + @TabList_header_side_padding;
  }
}

.TabBorderRadius {
  border-radius: 0 0 @BorderRadiusDefault;
}


.ModuleImage (@size) {
  width: @size;
  height: @size;
  background-size: contain;
  background-image: url(@module-default);
  background-color: darkslategrey;

  &-battery {
    background-image: url(@module-battery);
    background-color: dodgerblue;
  }

  &-chainsaw {
    background-image: url(@module-chainsaw);
    background-color: darkgreen;
  }

  &-chassis {
    background-image: url(@module-chassis);
    background-color: brown;
  }

  &-empty {
    background-image: url(@module-empty);
    background-color: darkgrey;
  }

  &-gripper {
    background-image: url(@module-gripper);
    background-color: black;
  }

  &-memory {
    background-image: url(@module-memory);
    background-color: blueviolet;
  }

  &-storage {
    background-image: url(@module-storage);
    background-color: yellowgreen;
  }

  &-tool {
    background-image: url(@module-tool);
    background-color: darkslategrey;
  }

  &-vision {
    background-image: url(@module-vision);
    background-color: gold;
  }
}

.RadioInput {
  opacity: 0.01;
  position: absolute;
  left: -10000px;
}
