@import "~@/styles/mixin";
@import "~@/styles/var";

@container_height: @PopupBaseHeight;
@container_gaps: 4 * @PaddingDefault;

@gap: 2rem;

@header_height: 2rem;
@header_gap: @gap;
@header_total: @header_height + @header_gap;

@footer_height: 5rem;
@footer_total: @footer_height;

@list_gap: @gap;
@list_height: calc(@PopupBaseHeight ~" - " @container_gaps + @header_total + @list_gap + @footer_total);

.Popup_child_header {
  font-size: 2rem;
  text-align: center;
  height: @header_height;
  margin-bottom: @header_gap;
}
