@BgColor: #fff;

// Defaults
@BorderWidthDefault: 1px;
@BorderStyleDefault: solid;
@BorderColorDefault: #000;
@BorderRadiusDefault: 1rem;
@PaddingDefault: 1rem;
@FontSizeDefault: 1rem;

// button
@buttonActiveBorderColor: #0078D7;
@buttonActiveBgColor: lightblue;

@buttonDisabledColor: grey;
@buttonDisabledBorderColor: grey;
@buttonDisabledBgColor: lightgrey;

// GameplayUIChild
@GameplayUIChildTransitionTime: 1.5s;
@GameplayUIChildTransformTime: 1s;

// Popup
@PopupBaseHeight: 100vh;

// TabControl
@TabControlHeight: 3rem;
@TabControlWidth: 8rem;

// Workspace
@WorkspaceWidth: 45rem;
@WorkspaceWidthFullScreen: @WorkspaceWidth * 1.75;

// TabList
@TabList_header_side_padding: 1rem;
@TabList_transform_time: .7s;
@TabListHideBtn_width: 5rem;

// Editor
@Editor_header_body_height : 2rem;
@Editor_header_margin_height : 2rem;

// RobotBtn
@RobotBtn_size   : 96px;
@RobotBtn_height : @RobotBtn_size;
@RobotBtn_width  : @RobotBtn_size;
@RobotBtn_margin : 10px;
@RobotBtn_border : @BorderWidthDefault;

// RobotProgramName
@RobotProgramName_height: 1rem;

// ProgramControls
@ProgramControls_height: 1rem;
@ProgramControls_margin_top: 1rem;
@ProgramControls_margin_bottom: @ProgramControls_margin_top;

// RobotPanel
@RobotPanel_padding : 10px;
@RobotPanel_border_top_width : @BorderWidthDefault;
@RobotPanel_border_bottom_width : 0;
@RobotPanel_border_vertical_width : @RobotPanel_border_top_width + @RobotPanel_border_bottom_width;
@RobotPanel_height_px : (
   @RobotBtn_height // 96px
 + @RobotBtn_margin // 10px
 + @RobotPanel_padding * 2 // 2 * 10px
 + @RobotPanel_border_vertical_width // 1px
);
@RobotPanel_height_rem : (
   @RobotProgramName_height // 1rem
 + @ProgramControls_height // 1rem
 + @ProgramControls_margin_top // 1rem
 + @ProgramControls_margin_bottom // 1rem
);
