@import '~@/styles/mixin';

@column_width: 35vw;
@height_full: 100vh;
@height_title: @height_full / 4;
@height_logo: @height_title;
@height_list: @height_full / 2;

.MainMenu {
  .ZIndexMainMenu();

  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: @BgColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.MainMenu_logo {
  padding: 0;
  max-height: @height_logo;
}

.MainMenu_title {
  max-height: @height_title;
  font-size: 4rem;
  width: @column_width;
  text-align: center;
}

.MainMenu_list {
  max-height: @height_list;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: @column_width;
}

.MainMenu_item {
  & + & {
    margin-top: .5rem;
  }
}

.MainMenu_button {
  .button();
  font-size: 2rem;
  text-align: center;
  border-radius: @BorderRadiusDefault;
  width: 100%;
}
