@size: 1em;
@pad: 1em / 32;

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.Spinner {
  display: inline-block;
  width: 0;
  padding: 0;
  transition: width .7s ease, padding .7s ease;
  overflow: hidden;
  vertical-align: bottom;

  &-visible {
    width: @size;
    padding: 0 0 @pad * 2 @pad * 5;
    animation: spin 1.5s linear infinite;
  }
}
