<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= title %>: дистрибутивы</title>
    <style>
        body {
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .Main {
            width: 75rem;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .Header {
            font-size: 3rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        .Description,
        .ReleaseTable {
            font-size: 2rem;
        }
        .ReleaseTable_cell {
            padding: .5rem;
        }
    </style>
</head>
<body>
<main class="Main">
    <header class="Header"><%= title %> <%= version %></header>
    <p class="Description">Сборки под разные платформы</p>
    <table class="ReleaseTable">
        <% buildList.forEach(
        ({fileName, platform}) => { %>
        <tr class="ReleaseTable_row">
            <td class="ReleaseTable_cell ReleaseTable_cell-platform">
                <%= platform %>
            </td>
            <td class="ReleaseTable_cell ReleaseTable_cell-fileName">
                <a
                    onclick="yaCounter49491253.reachGoal('<%= 'download-' + platform.toLowerCase() %>'); return true;"
                    class="ReleaseTable_link"
                    href="/<%= fileName %>"
                >
                    <%= fileName %>
                </a>
            </td>
        </tr>
        <% }
        ) %>
    </table>
</main>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter49491253 = new Ya.Metrika2({
          id:49491253,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/tag.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49491253" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
