@import "~@/styles/mixin";
@import "~@/styles/var";

.Popup {
  .ZIndexPopup();
  .block-default();

  margin: @PaddingDefault;
  top: 0;
  right: 25vw;
  width: 50vw;
  height: calc(@PopupBaseHeight ~" - " @PaddingDefault * 2);
  position: fixed;
  box-sizing: border-box;
}

.Popup_close {
  .button();
  border-radius: 0 @BorderRadiusDefault;
  top: -@BorderWidthDefault;
  right: -@BorderWidthDefault;
  width: 5rem;
  padding: 1rem;
  position: absolute;
}
