@import "~@/styles/mixin";
@import '~@/styles/var';

.WinScreen {
  .GUIChild();
  .ZIndexWinScreen();

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, .4);
  transform: rotate3d(0, 0, 0, 45deg);
  transition: transform 1s @GameplayUIChildTransformTime ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-hidden {
    top: -100vh;
    transform: rotate3d(1, 0, 0, 90deg);
  }
}

.WinScreen_header {
  .text-shadow(#000);
  font-size: 10rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.WinScreen_text {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.WinScreen_nextBtn {
  .button();

  font-size: 2.5rem;
  border-radius: @BorderRadiusDefault;
  padding: 0 1.25rem;
}
