@import "~@/gui/components/Editor/styles";
@import "~@/styles/mixin";
@import '~@/styles/var';

.ProgramControlBtn {
  .button();

  font-size : 1.2rem;
  height    : @Editor_btn_height;

  & + & {
    border-left-width: 0;

    &:active,
    &:focus,
    &:hover {
      border-left-width: @BorderWidthDefault;
      margin-left: -@BorderWidthDefault;
    }
  }
}
