@import "~@/styles/mixin";

.ModuleTile {
}

.ModuleTile_input {
  .RadioInput();
}

.ModuleTile_label {
  @size: 48px;
  .ModuleImage(@size);
  display: inline-block;
  margin: .25rem;
  overflow: hidden;

  .ModuleTile_input:checked + & {
    background-color: tomato;
  }
}
