@import "~@/styles/mixin";
@import "~@/styles/var";

.RobotBtn {
  position        : relative;
  width           : @RobotBtn_width;
  height          : @RobotBtn_height;
  top             : 0;
  border-radius   : 100%;
  background-color: @BgColor;
  border          : @RobotBtn_border @BorderStyleDefault @BorderColorDefault;
  cursor          : pointer;
  margin          : 0 0 @RobotBtn_margin;
  padding         : 0;
  outline         : none;
  transition      : all .7s;
  overflow        : hidden;

  &:before {
    .text-shadow(@BgColor);

    content      : attr(title);
    position     : absolute;
    width        : @RobotBtn_width;
    height       : @RobotBtn_height;
    display      : flex;
    justify-content: center;
    align-items  : center;
    text-overflow: ellipsis;
    line-height  : 1.2em;
  }

  &-nameSize {
    &-0:before {
      font-size: 1.5rem;
    }

    &-1:before {
      font-size: 1.4rem;
    }

    &-2:before {
      font-size: 1.3rem;
    }

    &-3:before {
      font-size: 1.2rem;
    }

    &-4:before {
      font-size: 1.1rem;
    }

    &-5:before {
      font-size: 1rem;
    }

    &-6:before {
      font-size: .9rem;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 1rem @buttonActiveBorderColor inset;
  }

  &:active {
    box-shadow: 0 0 2rem @buttonActiveBorderColor inset;
  }

  &-chosen {
    background-color: @buttonActiveBgColor;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.RobotBtn-img {
  width : @RobotBtn_width;
  height: @RobotBtn_height;
}
