@import "~@/styles/mixin";
@import "~@/styles/var";

.TabListFullScreenToggler {
  .button();
  .ZIndexGameplayUIToggler();

  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  border-radius: 0 0 @BorderRadiusDefault;
  padding: .25rem 1rem;
  border-width: @BorderWidthDefault 0 0 @BorderWidthDefault;
}
