@import "~@/styles/mixin";
@import "~@/styles/var";

.RobotPanel {
  .GameplayUIChild(bottom);

  display          : flex;
  align-content    : flex-start;
  left             : 0;
  bottom           : 0;
  margin           : 0;
  background-color : @BgColor;
  border-radius    : 0 @BorderRadiusDefault 0 0;
  padding          : @RobotPanel_padding;
  border-color     : @BorderColorDefault;
  border-style     : @BorderStyleDefault;
  border-width     : @RobotPanel_border_top_width 1px @RobotPanel_border_bottom_width 0;
}

.RobotPanel_item {
  list-style-type : none;
  text-align: center;

  & + & {
    margin-left : @RobotPanel_padding;
  }
}
