@import "~@/styles/mixin";
@import "~@/styles/var";

@Editor_border : 1px;
@Editor_maxHeigth : calc(
        100vh
        ~" - " @RobotPanel_height_px
        ~" - " @RobotPanel_height_rem
);

@Editor_header_height : @Editor_header_body_height + @Editor_header_margin_height;

@Editor_info_body_height : 1rem;
@Editor_info_margin_height : 1rem;
@Editor_info_height : @Editor_info_body_height + @Editor_info_margin_height;

@Editor_controls_body_height : 1rem;
@Editor_controls_margin_height : 1rem;
@Editor_controls_height : @Editor_controls_body_height + @Editor_controls_margin_height;

@Editor_btn_height : 2rem;

@ProgramControls_margin_vertical : @ProgramControls_margin_top + @ProgramControls_margin_bottom;

@Editor_head_height : (
   @Editor_header_height
 + @Editor_info_height
 + @Editor_btn_height
 + @Editor_controls_height
 + @ProgramControls_margin_vertical
);

@Editor_workspace_height : calc(
        100vh
        ~" - " @Editor_head_height
        ~" - " @RobotPanel_height_px
        ~" - " @RobotPanel_height_rem
        ~" - " @Editor_border
);

@border_radius : 0 0 @BorderRadiusDefault 0;
