@import "~@/gui/components/Editor/editor_vars";
@import "~@/styles/mixin";

.Editor {
  background-color: @BgColor;
  .TabBorderRadius();
}

.Editor_header {
  .TabHeader();
}

.Editor_controls {
  height: @Editor_controls_body_height;
  margin-bottom: @Editor_controls_margin_height;
}

.Editor_info {
  text-align: center;
  height: @Editor_info_body_height;
  margin-bottom: @Editor_info_margin_height;
}

@divider_width: 1rem;
@divider_half_width: @divider_width / 2;

.Editor_info_name {
  display: inline-block;
  width: calc(50% ~"-" @divider_half_width);

  &:first-child {
    text-align: right;
  }

  &:last-child {
    text-align: left;
  }
}

.Editor_info_divider {
  display: inline-block;
  width: 1rem;
  text-align: center;
}
