@import "~@/gui/components/Editor/editor_vars";
@import "~@/styles/mixin";
@import "~@/styles/var";

.TabList {
  @hideProp: top;

  .GameplayUIChild(@hideProp);

  top              : 0;
  left             : 0;
  background-color : @BgColor;
  height           : @Editor_maxHeigth;
  width            : @WorkspaceWidth;
  border-width     : 0 @Editor_border @Editor_border 0;
  border-color     : @BorderColorDefault;
  border-style     : @BorderStyleDefault;
  box-sizing       : content-box;
  transition       : transform @TabList_transform_time,
                     width     @TabList_transform_time,
                     @hideProp @GameplayUIChildTransitionTime;

  &-hidden {
    transform: translateY(-100%);

    &:hover {
      transform: translateY(calc(-100% + 1rem));
    }
  }

  &-visible {
    transform: translateY(0);
    border-radius: @border_radius;
  }

  &-fullScreen {
    width: @WorkspaceWidthFullScreen;
  }
}

.TabList_controlList {
  .ZIndexGameplayUIToggler();
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  transform: translateY(0);
  transition: transform @TabList_transform_time,
              padding   @TabList_transform_time;

  .TabList-visible & {
    right: auto;
    left: 0;
    border-bottom: @BorderWidthDefault @BorderStyleDefault @BorderColorDefault;
    padding: 0 @TabList_header_side_padding;
  }

  .TabList-hidden & {
    transform: translateY(@Editor_maxHeigth);
  }

  .TabList-len_1.TabList-visible & {
    display: none;
  }
}

.TabList_hideBtn {
  .button();
  .ZIndexGameplayUIToggler();
  position: absolute;
  width: @TabListHideBtn_width;
  padding: 1rem;
  right: -@Editor_border;
  top: -@Editor_border;
  border-radius: 0 0 0 @BorderRadiusDefault;
}

