@import '~@/styles/mixin';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.main {
  .ZIndexCanvas();
  position: relative;

  &:active {
    cursor: move;
  }
}
