@import "~@/styles/mixin";

.GameMenu {
  .GameplayUIChild(right);
  .ZIndexGameMenu();

  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.GameMenu_list {
  margin: -1px 0 0 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: @BgColor;
  transform: translateX(100%);
  transition: transform .7s ease;
  border-radius: @BorderRadiusDefault 0 0 @BorderRadiusDefault;

  &-visible {
    transform: translateX(0);
  }
}

.GameMenu_button {
  .button();
  font-size: 2rem;
  text-align: left;

  & + & {
    border-top-width: 0;
  }

  &:first-child {
    border-radius: @BorderRadiusDefault 0 0 0;
  }

  &:last-child {
    border-radius: 0 0 0 @BorderRadiusDefault;
  }
}
