@import "../Editor/editor_vars";
@import "~@/styles/var";

.Workspace {
  height        : @Editor_workspace_height;
  min-width     : 700px;
  width         : @WorkspaceWidth;
  border-radius : @border_radius;
  overflow      : hidden;
  transition    : width @TabList_transform_time;

  &-hidden {
    opacity: 0;
  }

  &-fullScreen {
    background-color: red;
    width: @WorkspaceWidthFullScreen;
  }
}
