@import "~@/styles/popup_child_sizes";
@import "~@/styles/mixin";
@import "~@/styles/var";

.LoadGameMenu_header {
  .Popup_child_header();
}

.LoadGameMenu_list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 @list_gap;
  height: @list_height;
  overflow: auto;
}

.LoadGameMenu_item {
  background-color: #fff;

  & + & {
    margin-top: .25rem;
  }
}

.LoadGameMenu_radio {
  .RadioInput();
}

.LoadGameMenu_label {
  .border-default();

  padding: .45rem;
  display: flex;
  justify-content: space-between;
  transition: padding .4s ease;

  &:hover,
  &:active,
  &:focus,
  .LoadGameMenu_radio:checked + & {
    background-color: @buttonActiveBgColor;
    border-color: @buttonActiveBorderColor;
  }

  .LoadGameMenu_radio:checked + & {
    padding-left: 2rem;
  }
}

.LoadGameMenu_controls {
  display: flex;
  justify-content: space-between;
  height: @footer_height;
}

.LoadGameMenu_time {
  font-style: italic;
  padding: 0 1rem;
}

.LoadGameMenu_deleting {
  font-style: italic;
}

.LoadGameMenu_button {
  .block-default();
  .button();

  font-size: 2rem;

  & + & {
    margin-left: 1rem;
  }
}
