@import "~@/styles/mixin";
@import '~@/styles/var';

.StartLevelScreen {
  .GUIChild();
  .ZIndexWinScreen();

  @wait: 3s;

  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: bottom @wait @GameplayUIChildTransformTime ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-hidden {
    bottom: -100vh;
  }
}

.StartLevelScreen_header {
  font-size: 10rem;
  line-height: 0;
  text-align: center;
}
