.Listing {
  display         : flex;
  align-content   : stretch;
  justify-content : space-between;
  padding-left    : 0;
}

.Listing_header {
  text-align : center;
  font-size  : 2rem;
}

.Listing_item {
  list-style-type : none;
  text-align      : center;
  font-size       : 1.2rem;
  flex-grow       : 1;
}

.Listing_code {
  height     : 480px;
  width      : 100%;
  font-size  : .8rem;
  box-sizing : border-box;
}
